In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix

In [5]:
tp = 34
fp = 7
tn = 46
fn = 13
accuracy = (tp+tn)/(tp+tn+fp+fn)

In [6]:
print("true positives", tp)
print("false positives", fp)
print("true negatives", tn)
print("false negatives", fn)
print("accuracy =", accuracy)

true positives 34
false positives 7
true negatives 46
false negatives 13
accuracy = 0.8

In [ ]:
# Predicting dog but the actual was cat
# Predicting cat but the actual was dog
# Decently accurate model

In [ ]:
# Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [9]:
c3_data = pd.read_csv("c3.csv")

In [10]:
subset = c3_data[c3_data.actual == "Defect"]
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [11]:
c3_recall = (subset.actual == subset.model3).mean()
print(c3_recall)

0.8125

In [ ]:
# Model 3

In [ ]:
# Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [14]:
subset = c3_data[c3_data.model1 == "Defect"]
precision = (subset.actual == subset.model1).mean()
precision

0.8

In [ ]:
# Model 1

In [ ]:
# how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [16]:
gup = pd.read_csv("gives_you_paws.csv")
gup

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]